.finished{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finished > h2{
    text-transform: uppercase;
    color: var(--cyan);
}

.finished_container{
    width: 45rem;
}

.preview{
    text-align: center;
    border-radius: 2rem;
}

.dev-preview{
    height: 370px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin: .5rem auto;
}

.dev-preview > img{
    max-width: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--red);
}

.coder2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem .4rem;
}

.coder2 > h5{
    font-size: 16px;
    color: var(--green-cyan);
}

.coder2 > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    border-radius: 15px;
    padding: .5rem;
    background: var(--bluish-gray);
    cursor: pointer;
}

.coder2 > a:hover{
    background: var(--green-cyan);

}