header{
    background: transparent;
    display: flex;
    align-items: center;
    height: max-content;
    padding: .6rem;
    border-bottom: 2px solid var(--cyan);
}

.home{
    font-size: 30px;
}

nav{
    margin-left: auto;
}
nav ul{
    display: flex;
    gap: 1rem;
    font-size: 17px;
    list-style: none;
}

.nav-list{
    text-decoration: none;
    border: none;
    padding: .4rem;
    cursor: pointer;
    color: var(--bluish-gray);
    transition: all ease-in-out .4s;
}

.nav-list:hover{
    color: var(--amber);
    font-size: 17.5px;
}