footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background: var(--white);
    height: 3rem;
    border-top: 2px solid var(--bluish-gray);
}

.seamfix{
    color: var(--green-cyan);
}

@media screen and (max-width: 37.5rem){
    footer{ 
        font-size: 13px;
    }
}
